---
http_interactions:
- request:
    method: post
    uri: https://api.sonicapi.com/analyze/melody?access_id=67a84cd6-5d82-4f3b-bf96-752496ab2670&format=json&input_file=https://sight-music-lab.s3-us-west-1.amazonaws.com/attempts/audios/000/000/020/original/recorded.mp3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Sonicapi-Request-Id:
      - 417a5ac7-af77-4af6-8e95-181eea0cd60e
      X-Remaining-Traffic-Gb:
      - '2.3193'
      Location:
      - "/file/download?file_id=3ee0a3d9-4fdf-4a0f-8764-9d867050e36b"
      X-Sonicapi-File-Id:
      - 3ee0a3d9-4fdf-4a0f-8764-9d867050e36b
    body:
      encoding: UTF-8
      string: '{"status":{"code":200},"melody_result":{"key":"A# Maj","key_index":10,"tuning_frequency":443.8544006347656,"notes":[{"midi_pitch":58.236053466796875,"onset_time":1.3429251700680271,"duration":0.2626303854875283,"volume":0.6930711269378662},{"midi_pitch":61.98783493041992,"onset_time":1.6096371882086167,"duration":0.2950340136054422,"volume":0.07236500084400177},{"midi_pitch":65.2293472290039,"onset_time":1.9383673469387754,"duration":0.42698412698412697,"volume":0.10282237827777863},{"midi_pitch":65.2005386352539,"onset_time":2.579433106575964,"duration":0.2645351473922902,"volume":0.1307895928621292},{"midi_pitch":65.03824615478516,"onset_time":2.918548752834467,"duration":0.27165532879818594,"volume":0.140685[...]
