<script src="http://www.vexflow.com/build/vexflow/vexflow-debug.js"></script>
<script src="http://www.vexflow.com/vextab/support/vexflow-min.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://www.vexflow.com/support/tabdiv-debug.js"></script>

<div style="width:680; margin-left: auto; margin-right: auto;">
  <div class="vex-tabdiv" width=700 scale=0.9>
    tabstave notation=true key=Ef time=4/4 tablature=false
    notes  :q C/4 :q D/4 :h E/4 | :q G/4 :q A/4 :q B/4 :q F#/5 ||
  </div>
</div>

  <div style="width:680; margin-left: auto; margin-right: auto;">
    <div class="vex-tabdiv" width=700 scale=0.9>
      tabstave notation=true key=Bm time=4/4 tablature=false
      notes  :q C/4 :q D/4 :h E/4 | :q G/4 :q A/4 :q B/4 :q F#/5 ||
    </div>
</div>
