<main class="exercises">
  <section class="controls">
    <label class="form-button" for="upload">+ Add File...</label>
    <button class="start"></button>
    <button class="stop"></button>
    <input type="file" accept="audio/*" capture id="upload">
  </section>

  <div class="paper" id=<%= @exercise.id %>>
    M: <%= @exercise.tse %>
    L: 1/4
    K: <%= @exercise.key %>
    <%= @exercise.notes %>
  </div>

  <audio id="player" controls></audio>

</main>
