<main class="exercises">
  <input type="file" accept="audio/*" capture id="upload">
  <audio id="player" controls></audio>

  <button id="start">Record</button>
  <button id="stop">Stop</button>

  <div class="paper" id=<%= @exercise.id %>>
    M: 4/4
    L: 1/4
    K: A^ Maj
    A^1 |  D1 F1 D1 A^2|]
  </div>
</main>
