<main class="exercises">
  <input type="file" accept="audio/*" capture id="recorder">
  <audio id="player" controls></audio>

  <button id="start">Record</button>
  <button id="stop">Stop</button>

  <div class="paper" id="exercise-score">
  </div>

</main>
