<main class="exercises">
  <input type="file" accept="audio/*" capture id="upload">
  <audio id="player" controls></audio>

  <button id="start">Record</button>
  <button id="stop">Stop</button>

  <div class="paper" id=<%= @exercise.id %>>
    M: <%= @exercise.tse %>
    L: 1/4
    K: <%= @exercise.key %>
    <%= @exercise.notes %>
  </div>
</main>
