<script src="http://www.vexflow.com/build/vexflow/vexflow-debug.js"></script>
<script src="http://www.vexflow.com/vextab/support/vexflow-min.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://www.vexflow.com/support/tabdiv-debug.js"></script>

  <div style="width:680; margin-left: auto; margin-right: auto;">
    <div class="vex-tabdiv" width=700 scale=0.9>
      tabstave notation=true key=Bm time=4/4 tablature=false
      notes  C-D-E/4 F#/5 | G-A-B/4 F#/5
  </div>
</div>
