<script src="http://www.vexflow.com/build/vexflow/vexflow-debug.js"></script>
<script src="http://www.vexflow.com/vextab/support/vexflow-min.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://www.vexflow.com/support/tabdiv-debug.js"></script>

  <div style="width:680; margin-left: auto; margin-right: auto;">
    <div class="vex-tabdiv" width=700 scale=0.9>
      options space=20
      stave notation=true key=Bm time=4/4
      notes  =|: :q 4/5 :8 7-5h6/3 ^3^ 5h6-7/5 ^3^ :q 7V/4 |
      notes :8 t12p7/4 s5s3/4 :8 3s:16:5-7/5 :h 5/4

      options space=25
      stave notation=true
      notes :q 5/4 (7/4.7/5)s(5/4.5/5) ^3^
      notes :8 7-5/4 $.a./b.$ (5/4.5/5)h(7/5) =:|
      notes :8 (12/5.12/4)ds(5/5.5/4)u 3b4/5
      notes :h (5V/6.5/4.6/3.7/2) =|=
  </div>
</div>
