<main class="main-root">
  <%= image_tag 'tree.svg', class: 'tree-img' %>
  <section class="right-main">
    <%= button_to "Get Started", '/auth/google', class: 'fancy-button' %>
  </section>
</main>
