$aquamarine: #02C8A7;
.navbar {
  display: flex;
  background-color: #F0EFF0;
  font-family: 'Rufina', serif;

  .nav-right, .nav-left, .nav-center {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .nav-left {
    font-size: 30px;

    .brand-link, .brand-link:link, .brand-link:visited, .brand-link:hover, .brand-link:focus, .brand-link:active {
      color: inherit;
      text-decoration: none;
    }

    .brand-link:hover {
      cursor: hand;
    }
  }

  .nav-right {
    justify-content: flex-end;
  }

  .nav-item {
    padding: 0px 20px;
    font-family: 'Raleway', sans-serif;
  }
}
