$lake: #31708E;
$medium-blue: #5085A5;
$sky: #8FC1E3;
$cloud: #F7F9FB;

.fancy-button {
  border-radius: 20px;
  min-width: 180px;
  min-height: 30px;
  color: #2F2F28;
  border: none;
  outline: none;
  font: {
    size: 25px;
    family: 'Raleway', sans-serif;
  }
  margin: 0px 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-button {
  border-radius: 5px;
  padding: 10px;
  color: #F7F9FB;
  border: none;
  outline: none;
  border: 2px dotted $medium-blue;
  border-radius: 20px;
  color: $cloud;
  font: {
    family: 'Raleway', sans-serif;
    size: 18px;
  }
  width: 95px;
  height: 15px;
  text-align: center;
  display: flex;
  align-items: center;
}

#record-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid $cloud;
  background-color: black;
}

.start {
  background-color: red;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
}

.stop {
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 10%;
  border: none;
  outline: none;
}

.form-button:hover {
  opacity: 0.5;
  border-color: $cloud;
}
