$lake: #31708E;
$medium-blue: #5085A5;
$sky: #8FC1E3;
$cloud: #F7F9FB;

#upload {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	width: 0;
}

#upload + label {
  border-radius: 1rem;
  width: 3em;
	height: 3em;
	display: flex;
	justify-content: center;
  outline: none;
  background-color: $lake;
  display: flex;
  align-items: center;

	.upload-icon {
		width: 1.5em;
	}
}

#upload:focus + label,
#upload + label:hover {
  background-color: $medium-blue;
	cursor: pointer;
	.upload-icon {
		width: 1.7em;
	}
}
