$lake: #31708E;
$medium-blue: #5085A5;
$sky: #8FC1E3;
$cloud: #F7F9FB;

#upload {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#upload + label {
  border-radius: 3px;
  padding: 10px;
  color: #F7F9FB;
  outline: none;
  background-color: $medium-blue;
  border-radius: 10px;
  color: $cloud;
  font: {
    family: 'Raleway', sans-serif;
    size: 15px;
  }
  width: 95px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload:focus + label,
#upload + label:hover {
  opacity: 0.5;
  background-color: $lake;
}
