.tree-img {
  max-height: 700px;
  max-width: 75%;
}

.brand-img {
  max-height: 50px;
  margin-right: 5px;
}

#loader-gif {
  display: none;
  min-width: 150px;
  margin: 3%;
}

.star {
  min-width: 8px;
}

.yellow {

}
