.brand-img {
  max-height: 2.2rem;
  margin-right: 0.5rem;
}

#loader-gif {
  display: none;
  min-width: 90px;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 6%;
}

.white-star {
  background: url('white-star-icon.svg');
  min-width: 8px;
}

.outline-star {
  background: url('outline-star-icon.svg');
  min-width: 8px;
}
