* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  background-color: #8FC1E3;
}

.main-root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: image-url('AnnaTree-huh.png') no-repeat bottom -5vh left -20vh fixed;
  background-size: 150vh;

  .button-container {
    position: absolute;
    top: 45vh;
    right: 15%;

    .fancy-button {
      padding: 0.5rem 2rem;
    }
  }
}

@media (max-width: 1400px) {
  .main-root {
    background-position: bottom -5vh center;
    background-size: 130vh;

    .button-container {
      background-color: rgba(1, 1, 1, 0.5);
      height: 4.5em;
      width: 100%;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 550px) {
  .main-root {
    background-size: 80vh;
    background-position: bottom -1vh center;

    .button-container {
      background-color: inherit;
      height: 45%;
    }
  }
}

@media (max-height: 450px) and (max-width: 1400px) {
  .main-root {
    .button-container {
      background-color: inherit;
      width: 30%;
      height: 100%;
      right: 70%;
    }
  }
}
