<nav class="navbar">
  <div class="nav-left">
    <%= image_tag 'treble-clef.svg', class: 'brand-img' %>
    Sight Music Lab
  </div>
  <div class="nav-right">
    <%= button_to 'Log In', '/auth/google', class: 'fancy-button' %>
  </div>
</nav>
