<nav class="navbar">
  <div class="nav-left">
    Sight Music Lab
  </div>
  <div class="nav-right">
    <%= link_to 'Sight Read', root_path, class: 'nav-item' %>
    <p class="nav-item">Welcome, <%= current_user.first_name %></p>
    <%= button_to 'Log Out', logout_path, method: :get, class: 'fancy-button' %>
  </div>
</nav>
