<nav class="navbar">
  <div class="nav-left">

  </div>
  <div class="nav-right">
    <p>Welcome, <%= current_user.first_name %></p>
    <%= button_to 'Log Out', logout_path, method: :get %>
  </div>
</nav>
